#pic {
  display: none;

  @media (min-width: $large-device) {
    width: 25%;

    display: block;
    float: left;
  }

  img {
    height: auto;
    max-width: 100%;

    display: block;
  }

  button {
    width: 100%;
  }
}
