<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

    <title>{{ site.title }}</title>
  </head>
  <body>
    <div id="holster">
      <section id="bio">
        {{ content }}
      </section>
      <section id="pic">
        <a href="index"> <img src="assets/images/flair.jpg"></img> </a>
        <br/>
          {% for button in site.buttons %}
            <button type="button" onclick="location.href='{{ button.url }}';"> {{ button.text }} </button>
          {% endfor %}
      </section>
      <div class="u-cf"></div>
      <section id="social-media-links">
        <ul>
          {% for item in site.social %}
            <li class="social-{{ item.type }}">
              <a href="{{ item.value }}">
                <i class="fa fa-{{ item.class }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </body>
</html>
